.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  padding: 1.6rem;
  background-color: var(--primary);
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 3.2rem;
  font-weight: bold;
}
