:root {
  /* Core */
  --primary-lightest: #cc5e36;
  --primary-lighter: #b3512e;
  --primary-light: #9F4829;
  --primary: #8F3718;
  --primary-dark: #813216;
  --primary-darker: #702c13;
  --primary-darkest: #5f2510;

  /* Helpers */
  --text: #333;
  --text-light: #777;
}