.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.name {
  font-size: 2.4rem;
  font-weight: bold;
}

.price {
  color: var(--primary);
  font-weight: bold;
}

.controlBtns {
  display: flex;
  align-items: center;
}

.amount {
  text-align: center;
  padding: 0.4rem 1.2rem;
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: 0.4rem;
}

.controlBtn {
  margin-left: 1.6rem;
}
